<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>


    <!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <!--navbar links-->  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white sticky-top">
    <div class="container justify-content-center">
            <a class="navbar-brand" href="/">
                Urgency Detection Service
            </a>
     </div>
</nav>
{% block visuals %}
    
    <!--Jumbotron with container for interacting with model and classification-->   
    <div class="jumbotron" style="height: 400px">
        <div class="container">

            <h1 class="text-center"><a href="/" style = "text-decoration: None; color:inherit">Emergency Detection Aid</a></h1>
            <p class="text-center">Analyzes your message for emergency response during crisis and disasters</p>
            <hr />
        
            <div class="row">
                <div class="col-lg-12 form-group-lg">
                    <form action="/go" method="get" autocomplete="off">
                        <input type="text" class="form-control form-control-lg" autocomplete="address-level4" name="query" placeholder="Enter emergency message here">
                        <div class="col-lg-offset-5 text-center" style= "margin-top: 20px;">
                            <button type="submit" class="btn btn-lg btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            {% block message %}
            {% endblock %}
        </div>
    </div>

  {% endblock %}


{% block content %}
<div class="container">
        {% for id in ids %}
        <div id="{{id}}"></div>
        {% endfor %}
</div>
{% endblock %}


</body>
</html>