{% extends "index.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    {%if query%}
        <hr />
        <h4 class="text-center">MESSAGE</h4>
        <p class="text-center"><i>{{query}}</i></p>
    {%endif%}
{% endblock %}



{% block content %}
    {%if query%}
        <h1 class="text-center">Your Message Category</h1>
            <ul class="list-group">
                {% for category, classification in classification_result.items() %}
                    {% if classification == 1 %}
                        {% if category in ['related', 'aid_related', 'other_aid','direct_report', 'military','security'] %}
                            <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}} - Alert the police or call emergency hotline</li>
                        {% elif category in ['weather_related', 'floods', 'storm', 'earthquake', 'other_weather', 'fire',] %}
                            <li class="list-group-item list-group-item-primary text-center">{{category.replace('_', ' ').title()}} - Alert local government and local Fire Rescue</li>
                        {% elif category in ['food', 'shelter', 'refugees','medical_help', 'water','money','building'] %}
                            <li class="list-group-item list-group-item-danger text-center">{{category.replace('_', ' ').title()}} - Alert nearest hospital or Red Cross</li>
                        {% else %}
                        <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}} - Please direct your request to the appropriate agency suggested</li>
                        {% endif %}
                    {% else %}
                        <!--<li class="list-group-item list-group-item-dark text-center">
                            {{category.replace('_', ' ').title()}} 
                        No Issue Identified. Please rephrase your message with specific keywords
                        </li>-->
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {%endif%}
{% endblock %}

